.add-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.add-form {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-radius: 8px;

    
}
.add-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease; 
}

.add-form button {
    display: inline-block;
    width: 60%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
}
