body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

button {
    cursor: pointer;
}

.search-bar, .add-container, .chemical-list {
    margin-bottom: 20px;
}

h1, h3 {
    color: #343a40;
}

.btn {
    margin-right: 5px;
}
